:root{
    --background: rgba(214, 216, 220, 0.6);
    --tabColor:  rgb(47, 58, 65);
    --secColor: rgba(208, 77, 77, 0.843);
    --headings: rgba(75, 120, 255, 0.9);
    --border-radius: 6px;
    }
* {
    box-sizing: border-box;
    
}

::selection {
    background-color: var(--headings);
    color: rgb(0, 0, 0);
  }
  
body{
     font-family: 'Courier New', Courier, monospace;
     min-height: 100vh;
     color: var(--background);
}
header{
    margin: 10px;
    padding: var(--border-radius);
    border-radius: var(--border-radius);  
}

.header-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: var(--border-radius);
}

header h1 {
    font-size: 20px;
    color: var(--headings);
    padding: 10px;
}
.double {
    padding: 0px -3px;
    font-size: 30px;
    color: var(--tabColor)
}
.headerp {
    padding: 0.6px;
    font-style: italic;
    font-size: 10px;
}
h2 {
    font-size: 15px;
    font-style: italic;
    padding: 10px;
    color: var(--secColor);
}
h3 {
    font-size: 13px;
    font-style: italic;
    padding: 10px;
    color: var(--secColor);
}

.nav-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
.nav-list li a{
    padding: 10px;
    height: min-content;
    font-size: 10px;
    background-color: var(--secColor);
    border-radius: var(--border-radius);
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 15px;
    gap: 10px;
}
.card {
    background-color: var(--tabColor);
    padding: var(--border-radius);
    border-radius: var(--border-radius);
    text-align: center;
}

.photo {
    padding: 10px;
    border-radius: var(--border-radius);
}

.symbol {
    list-style-type: square;
    font-size: 20px;
    font-weight: bold;
    color: var(--tabColor);
}

    .note:active{
        line-height: 1.5;
        color: var(--headings);
        user-select: all;
    }
   
    a {
        text-decoration: none;
        color: var(--tabColor);
    }
    button {
        border-radius: 8px;
        padding: 5px 2px;
        margin-bottom: 20px;
    }
    button:hover, .nav-list li:hover{
        box-shadow: inset 0px 0px 5px var(--headings), 0px 0px 10px var(--headings)
    }
    button:active {
        border-color: rgb(133, 4, 4);
    }
    button:focus {
        border-color: rgb(133, 4, 4);
    }
   
    .line-height {
        line-height: 1.5;
    }
    .foot {
        text-align: center;
        padding: 30px;
        height: 10px;
    }
   
    
@media (min-width: 552px) {
    .container {
        grid-template-columns: 1fr;
    }
}
@media (min-width: 698px) {
        .container {
            grid-template-columns: 1fr 1fr;
        }
}
@media (min-width: 992px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .my-contact {
    grid-column: span 2;
    }
    .my-resume{
        grid-column: span (0.5);
    }
}

    
