:root{
    --background: rgba(214, 216, 220, 0.6);
    --tabColor:  rgb(47, 58, 65);
    --secColor: rgba(33, 91, 102, 0.843);
    --headings: rgba(75, 120, 255, 0.9);
    --white: #fff;
    --border-radius: 6px;
    }
* {
    box-sizing: border-box;
    
}

::selection {
    background-color: var(--headings);
    color: var(--white);
  }
  
body{
     font-family: 'Courier New', Courier, monospace;
     min-height: 100vh;
     color: var(--background);
}
header{
    margin: 10px;
    padding: var(--border-radius);
    border-radius: var(--border-radius);  
}

.header-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: var(--border-radius);
}

header h1 {
    font-size: 20px;
    color: var(--headings);
    padding: 10px;
}
.double {
    padding: 0px -3px;
    font-size: 30px;
    color: var(--tabColor)
}
.headerp {
    margin-bottom: 0.5rem;
    padding: 0.6px;
    font-style: italic;
    font-size: 12px;
    color: black;
}
h2 {
    font-size: 100%;
    font-style: italic;
    padding: 10px;
    color: var(--headings);
}
h3 {
    font-size: 100%;
    font-style: italic;
    padding: 10px;
    color: var(--headings);
}

.nav-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
.nav-list li a{
    padding: 10px;
    height: min-content;
    font-size: 10px;
    background-color: var(--tabColor);
    border-radius: var(--border-radius);
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 15px;
    gap: 10px;
}
.card {
    background-color: var(--tabColor);
    padding: var(--border-radius);
    border-radius: var(--border-radius);
    text-align: center;
}

.photo {
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.project-photo{
    border-radius: 5px;
    width: 70%;
    height: 50%;
}

.symbol {
    list-style-type: square;
    font-size: 20px;
    font-weight: bold;
    color: var(--tabColor);
}

.note:active{
    line-height: 1.5;
    color: var(--white);
    user-select: all;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
}
.nav-list li:hover, .project-photo:hover, .icon:hover{
    transform: scale(1.05);
    box-shadow: inset 0px 5px 5px 0px var(--headings), 0px 0px 10px var(--headings)
}
.line-height {
    line-height: 1.5;
}
.foot {
    text-align: center;
    padding: 30px;
    height: 10px;
}
a.resum{
    font-size: 15px;
    color: yellow;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: black;
}
.download-link{
    margin: 15px;
}
.hidden{
    color: var(--tabColor);
}
   
    
@media (min-width: 552px) {
    .container {
        grid-template-columns: 1fr;
    }
}
@media (min-width: 698px) {
        .container {
            grid-template-columns: 1fr 1fr;
        }
        .note{
            line-height: 1.3;
        }
}
@media (min-width: 992px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .my-contact {
    grid-column: span 2;
    }
    .my-resume{
        grid-column: span (0.5);
    }
    .note{
        line-height: 1.5;
    }
}
    
